
<script>
	$(".subcategory-tab-link").on("click", function(){

		var href = $(this).attr('href');
		
		$.get(href, function( response ) {
		  $( "#subcategory_partial_detail" ).html( response );
		});
		return false;
	});

</script>

<div class="row">
	{% include 'subcategory_partials_navbar.html' %}
</div>
<div class="row section-static">
{% if user.is_authenticated%}
	<div id="subcategory_partial_detail">
	{% for task in tasks %}
	<div class="thumbnail col-md-3">
		<img src="#" class="img-circle" />
		<div class="caption">
			<p>Title: {{ task.title }}</p>
			<p>Description: {{ task.description }}</p>
			<p>Special Instructions: {{ task.special_instructions }}</p>
			<p>Posted by: {{ task.user.username }}</p>
			<p><a href="{% url 'tasks:task_detail' task.id %}" class="btn btn-success">View</a></p>
		</div>
	</div>
	{% cycle '' '' '' '</div><div class="row">' %}
	{% endfor %}
	
{% endif %}
</div>

</div>

