<div class="row">
	<div class="container">
		<div class="col-md-9">
			<div id="main-profile" class="col-md-12">
				<div id="profile-pic" class="col-md-3">
					<img src="#" alt="...">
				</div>
				<div id="profile-info" class="col-md-9">
					<h4>[name]</h4>
					<h5>[current_title]</h5>
					<p>[location]</p>
					<table>
						<tbody>
							<tr>
								<td>Current</td>
								<td>[company name]</td>
							</tr>
							<tr>
								<td>Previous</td>
								<td>[company name]</td>
							</tr>
							<tr>
								<td>Education</td>
								<td>[university]</td>
							</tr>
						</tbody>
					</table>
					<button type="submit" id="hire" class="btn-blue btn-blue-effect">Hire</button>
					<button type="submit" id="chat" class="btn-green btn-green-effect">Chat</button>
					<span>[number_of_completed_jobs]</span>
				</div>
				<div class="col-md-12">
					<!-- favorite | contact info | rating -->
					[unique_navbar_here]
				</div>
			</div>
			<div id="recent-activity" class="col-md-12">

			</div>
			<div id="summary" class="col-md-12">

			</div>
			<div id="experience" class="col-md-12">
				<!-- create and use a formset to allow user to add more than one -->
			</div>
			<div id="certifications" class="col-md-12">
				<!-- create and use a formset to allow user to add more than one -->
			</div>
			<div id="skills" class="col-md-12">
				<!-- list out a bunch of skills (checkbox form) this person may have based on subcategory they belong to -->
			</div>
		</div>
		<div class="col-md-3">

		</div>
	</div>
</div>