{% extends 'base.html' %}
{% block jsblock %}
<script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
{% endblock %}




{% block sockets %}
	

	$("form").on("submit", function(){

		var socket = io.connect('http://127.0.0.1:3000');
		// var user_id = {{ user.id }};
		// socket.emit('assign-socket-id-after-login', {});
		socket.emit('join_room', {});

	});

{% endblock %}



{% block navbar %}
<div class="row">
	<div class="container">
		{% include 'navbar.html' %}
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row section-static border-top-gray">
	<div class="container">
		<h1 class="text-center">Registration/Login</h1>
		<div class="col-md-6">
			
		</div>
		<div class="col-md-6">
			<form action="{% url 'accounts:login' %}" method="POST">
				{% csrf_token %}
				{{ login_form.as_p }}
				<input type="submit" value="Login" id="login_user" class="btn-login btn-login-effect" />
			</form>
		</div>
	</div>
</div>
{% endblock %}