{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		{% include 'navbar.html' %}
	</div>
</div>
<div class="row section-static">
	<div class="container">
		<div class="col-md-8 col-md-push-2">
			<h1 class="text-center">How Kall-a-roo Works</h1>
			<h3 class="text-center">A convenient way to get things done by connecting you with vetted, certified independent contractors in your area.</h3>
		</div>
		<div class="row section-static">
			<div class="col-md-6">
				<!-- background image -->
			</div>
			<div class="col-md-6 text-center">
				<h2>1</h2>
				<h3>We find the best contractors to help you.</h3>
				<p>You can trust our relationships with these thoroughly vetted independent contractors.</p>
			</div>
		</div>
	</div>
</div>
<div class="row section-static section-blue">
	<div class="container">
		<div class="col-md-6 text-center">
			<h2>2</h2>
			<h3>Outsource chores or tasks you don't want to do.</h3>
			<p>Just tell us what you need done and we connect you to qualified contractors immediately available to help.</p>
		</div>
		<div class="col-md-6">
			<!-- background image -->
		</div>
	</div>
</div>
<div class="row section-static">
	<div class="container">
		<div class="col-md-6">
			<!-- background image -->
		</div>
		<div class="col-md-6 text-center">
			<h2>3</h2>
			<h3>No more wait times.</h3>
			<p>Your time is valuable, spend it doing what you love the most.</p>
		</div>
	</div>
</div>
<div class="row section-static section-orange">
	<div class="container text-center">
		<h3>How does payment work?</h3>
		<div class="row section-static">
			<div class="col-md-6">
				<img src="#">
				<p class="font500">Title</p>
				<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
			<div class="col-md-6">
				<img src="#">
				<p class="font500">Title</p>
				<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
		</div>
		<div class="row section-static">
			<div class="col-md-6">
				<img src="#">
				<p class="font500">Title</p>
				<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
			<div class="col-md-6">
				<img src="#">
				<p class="font500">Title</p>
				<p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
		</div>
	</div>
</div>
<div class="row section-static"> <!-- ./gurantee -->
	<div class="container">
		<div class="col-md-6">
			<!-- background image -->
		</div>
		<div class="col-md-6 text-center">
			<h3>We find the best contractors to help you.</h3>
			<div class="col-md-4 section-static">
				<span class="glyphicon glyphicon-heart glyphicon-lg blue"></span>
				<p>lorem ipsum has been in the industry's standard dummy</p>
			</div>
			<div class="col-md-4 section-static">
				<span class="glyphicon glyphicon-cloud glyphicon-lg blue"></span>
				<p>lorem ipsum has been in the industry's standard dummy</p>
			</div>
			<div class="col-md-4 section-static">
				<span class="glyphicon glyphicon-time glyphicon-lg blue"></span>
				<p>lorem ipsum has been in the industry's standard dummy</p>
			</div>
			<p>You can trust our relationships with these thoroughly vetted independent contractors.</p>
		</div>
	</div>
</div>
<div class="row section-static section-blue">
	<div class="container text-center">
		<h3>lorem ipsum has been </h3>
		<p>lorem ipsum has been in the industry's standard dummy</p>
		<div class="row section-static">
			<div class="col-md-4">
				<span class="glyphicon glyphicon-user glyphicon-lg"></span>
				<p>lorem ipsum</p>
			</div>
			<div class="col-md-4">
				<span class="glyphicon glyphicon-ok-circle glyphicon-lg"></span>
				<p>lorem ipsum</p>
			</div>
			<div class="col-md-4">
				<span class="glyphicon glyphicon-comment glyphicon-lg"></span>
				<p>lorem ipsum</p>
			</div>
		</div>
	</div>
</div>
<div class="row section-static">
	<div class="container">
		<div class="col-lg-12">
			<h2 class="text-center">Where We Can Be Found</h2>
			<!-- insert 3D.js map that includes markers -->
		</div>
	</div>
</div>
<div class="row section-static section-light-gray">
	<div class="container">
		<div class="col-md-4">
			<img src="#">
			<p></p>
		</div>
		<div class="col-md-4">
			<img src="#">
			<p></p>
		</div>
		<div class="col-md-4">
			<img src="#">
			<p></p>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}
	{% include 'footer.html' %}
{% endblock %}