<html>
<head>
	<title>Kallaroo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


	{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script>
    $(document).ready(function(){

      {% block jquery %}

      {% endblock %}
      {% block sockets %}

      {% endblock %}
    });
  </script>
  {% block jsblock %}

  {% endblock %}
</head>
<body>
	{% if messages %}
	<div id="confirmation-message" class="row">
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }} text-center" role="alert">
			{{ message }}
		</div>
		{% endfor %}
	</div>
	{% endif %}
	<div class="row">
		<div class="container">
			{% block navbar %}
				{% include 'partials_navbar.html' %}
			{% endblock %}
		</div>
	</div>
	<div class="row section-static border-top-gray" id="dashboard-wrapper">
		{% block sidebar %}

		{% endblock %}

		{% block content %}


		{% endblock %}
	</div>
</body>
</html>