<ul class="nav nav-tabs">
  <li role="presentation"><a href="{% url 'accounts:all_tasks' user.id %}" class="task-tab-link">All My Tasks</a></li>
  <li role="presentation"><a href="{% url 'accounts:active_tasks' user.id %}" class="task-tab-link">Active Tasks</a></li>
  <li role="presentation"><a href="{% url 'accounts:open_tasks' user.id %}" class="task-tab-link">Open Tasks</a></li>
  <li role="presentation"><a href="{% url 'accounts:completed_tasks' user.id %}" class="task-tab-link">Completed Tasks</a></li>
</ul>