{% extends 'base.html' %}

{% block jsblock %}
  <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>

{% endblock %}

{% block sockets %}
	var socket = io.connect('http://127.0.0.1:3000');
	var room_id = {{ object.id }};

	socket.emit("room-number", {room_id: room_id});

	var entry_el = $("#msg");

	entry_el.keypress(function(event){
		if(event.keyCode != 13) return;
		var user_id = {{ request.user.id }}
		var msg = $("#msg").val();
		var chatroom_id = {{ object.id }};

		if(msg) {
			socket.emit("send-message", {
				user_id: user_id,
				msg: msg,
				chatroom_id: chatroom_id,
			});
			// console.log(msg);
		}
		$("#msg").val('');
	});

	// create javascript event listener
	$("#send-msg-btn").click(function(){

		// grab the value in the input field
		var user_id = {{ request.user.id }}
		var msg = $("#msg").val();
		var chatroom_id = {{ object.id }};

		// create a socket event
		socket.emit("send-message", {
			// pass through the msg value
			user_id: user_id,
			msg: msg,
			chatroom_id: chatroom_id,
		});

		// set the msg input field to empty
		$("#msg").val('');
	});

	socket.on('message', function(context){

		console.log(context);
		//console.log(typeof(context));
		var obj = jQuery.parseJSON(context);
		console.log(obj);
		//console.log(obj.text); // gets the text message
		//console.log(obj.author.email);
		//console.log(obj.written_at);
		//$("#chats").append("<p>" + context + "</p>");

		console.log(obj.profile_pic);

		$('#chats').append("<div class='media'><div class='media-left'><img src='" + obj.author.profile_pic + "' class='img-circle' height='125' width='125' /></div><div class='media-body'><div class='well'><h4>" + obj.author.email + "<span class='pull-right'>" + obj.written_at + "</span></h4><p>" + obj.text + "</p></div></div></div>");
		
	});


	
	
	

{% endblock %}

{% block content %}
<div class="row">
	<div class="container">
		<div class="col-md-8 col-md-push-2 text-center">
			<h3>Welcome to chatroom #{{ object.id }}!</h3>
			<h4>Participants in the chatroom:</h4>
			<div class="col-xs-6">
				<img src="{{ object.creator.profile_pic.url }}" class="img-circle" height="125" width="125">
				<h4> {{ object.creator.username }} </h4>
				<a href="{% url 'accounts:dashboard' object.creator.id %}">Return Home</a>
			</div>
			<div class="col-xs-6">
				{% if object.participant %}
					<img src="{{ object.participant.profile_pic.url }}" class="img-circle" height="125" width="125">
					<h4> {{ object.participant.username }} </h4>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row section-static">
	<div class="container">
		<div id="chats" class="col-md-8 col-md-push-2">
			{% if msgs %}
				{% for msg in msgs %}
					<div class="media">
						<div class="media-left">

							<img src="{{ msg.author.profile_pic.url }}" class="img-circle" height="75" width="75" />
						</div>
						<div class="media-body">
							<div class="well">
								<h4>{{ msg.author }} <span class="pull-right">{{ msg.written_at }}</span></h4>
								<p>{{ msg.text }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="col-md-8 col-md-push-2 section-static">
			<div class="col-md-12">
				<div class="form-group">
					<input type="text" id="msg" class="form-control" />	
				</div>
				<button type="button" id="send-msg-btn" class="btn-blue btn-blue-effect col-xs-12">Send</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}