
<script type="text/javascript">
	$(".task-tab-link").on("click", function(){

		var href = $(this).attr('href');
		
		$.get(href, function( response ) {
		  $( "#task-output" ).html( response );
		});
		return false;
	});
</script>

{% block content %}
{% include 'tasks_partials_navbar.html' %}
<div class="col-md-8 padding-top-10" id="task-output">
	{% if tasks %}
		{% for task in tasks %}
		<div class="thumbnail thumbnail-task-list col-md-12">
			<img src="#" class="col-md-3" />
			<div class="caption col-md-9">
				<h3>{{ task.title }}</h3>
				<p>{{ task.description }}</p>
				<p><a href="{% url 'tasks:task_detail' task.id %}" class="btn-goto-task btn-goto-task-effect ">Go To Task</a></p>
			</div>
		</div>
		{% endfor %}
	{% else %}
		<h3>There are no active tasks</h3>
	{% endif %}
</div>


{% endblock %}
